/* font styles start*/

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Poppins&family=STIX+Two+Text&display=swap');


/* font styles end*/

/* ----common styles or utility start--------  */

        body{
            background-color: beige;
            font-family: 'Poppins', sans-serif;
            font-family: 'Montserrat', sans-serif;
            margin: 0%;
        }

        .content-center{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container{

            background-color: black;
            width: 1321px;
            height: 646px;
            margin-top: 20px;
            margin-bottom: 106px;
            border-radius: 12px;
        }

        .second-container{
            display: flex;
            flex-direction: row;
            width: 1321px;
        }

/* -----common styles or utility end ------*/



/* --------start top hero section----------- */

        .hero-section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 106px;
        }
        .text-wrapper{
            color: aliceblue;
        }
        .watch-live:hover{
            background-color: white;
            color: black;
            transition: ease-in;
        
        }

        .text-wrapper h1{
            font-family: 'Poppins';
            font-size: 70px;
            font-weight: bold;
            line-height: 80px;
            margin: 0%;
        }
        .text-wrapper p{
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }

        .text-wrapper button{
            color: white;
            background-color: #DD0000;
            font-size: 20px;
            line-height: 25px;
            font-weight: 400;
            padding: 16px 25px;
            margin-top: 10px;
        }
        .fa-arrow-right{
            margin-left: 10px;

        }
        .image-wrapper{
            display: flex;
            justify-content: end;
        }

        .image-wrapper img{
            width: 581px;
            margin-top: 33px;
            margin-right: 78px;
        }

/*---------- end top hero section ------------ */



/* ----------- start side nav section -------------*/

        .side-nav{
            display: block;
            text-align: center;
            background-color: black;
            padding: 30px;
            margin-top: 24px;
            border-radius: 10px;
            height: 312px;
            width: 312px;
        }

        .nav-item button{
            margin-top: 30px;
            width: 252px;
        }
        .nav-item a{
            
            text-align: center;
            text-decoration: none;
            padding: 20px;
            width: 252px;
            margin-top: 10px;
        }


        .inactive{
            color: black;
            background-color: white;
            font-size: 16px;
            font-family: 'Poppins';
            padding: 15px 34px;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
            margin-top: 30px;
            

        }
        .active{
            color: white;
            background-color: #DD0000;
            margin: 0%;
            border: 0%;
            font-size: 16px;
            font-family: 'Poppins';
            padding: 17px 39px;
            border-radius: 10px;
        }
        .active a{
            color: white;
            
            font-size: 16px;
            font-family: 'Poppins';
            padding: 17px 7px;
            border-radius: 10px;
        }

/* ---------- end side nav section --------------- */

/* ------------start blog section ---------------*/

        .blog{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-left: 24px;
        }

        .blog-wrapper{
            width: 312px;
            background-color: white;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
            margin-top: 24px;
            margin-right: 24px;
        }
        .blog-details-wrapper{
            padding: 20px;
        }

        .blog-details-wrapper button{
            color: black;
            background-color: white;
            font-size: 16px;
            font-family: 'Poppins';
            font-weight: 500;
            border: 1px solid black;
            border-radius: 6px;
            padding: 4px 16px;
        }
        .blog-details-wrapper h3{
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
        }

        .blog-icons{
            display: flex;
        }

        .space-between{
            margin-left: 30px;
        }

        .fa-clock{
            margin-right: 10px;
        }

        .fa-comment{
            margin-right: 10px;
        }

/* ------------end blog section ---------------*/

/*------------------ Start Upcoming Match blog section -------------- */

        .upcoming-blog-wrapper{
            text-align: center;
            width: 312px;
            background-color: white;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
            padding-top: 50px;
            padding-bottom: 20px;
            margin-top: 24px;
            margin-right: 24px;
        }

/*------------------End Upcoming Match blog section -------------- */


/*--------------- Footer section start -------------- */

        .footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 444px;
            background-color: black;
            color: white;
            margin-top: 130px;
        }

        .footer-nav-wrapper hr{
            margin-top: 60px;
            width: 1320px;
        }
        .footer-nav-wrapper ul,li{
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            padding:0px 24px;
        }

/* --------------- Footer section End ------------------ */


/*-------------- Responsive device section start -------------------*/

/* ------------Mobile Responsive -------------------- */

        @media screen and (max-width:576px){

            
            .hero-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                margin: 0%;
                
            }

            .text-wrapper{
                color: aliceblue;
                align-items: center;
                justify-content: center;
                padding: 20px 25px;
            }
    
            .text-wrapper h1{
                font-family: 'Poppins';
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                line-height: 32px;
                margin: 0%;
            }
            .text-wrapper p{
                font-family: 'Montserrat';
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
    
            .text-wrapper button{
                align-items: center;
                color: white;
                background-color: #DD0000;
                font-size: 20px;
                line-height: 25px;
                font-weight: 400;
                padding: 16px 25px;
                margin-top: 10px;
                margin-left: 44px;
            }

             
            .image-wrapper img{
                width: 233px;
                height: 245px;
                margin-top: 23px;
                margin-left: 22px;
                margin-right: 0%;

            }

            .side-nav{
                display: block;
                text-align: center;
                background-color: beige;
                padding: 30px;
                margin-top: 24px;
                border-radius: 10px;
                height: 312px;
                width: 312px;
            }
            
            .container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                width: 334px;
                height: 512px;
                padding-top: 20px;
                padding-bottom: 20px;       
                border-radius: 12px;
                margin-bottom: 20px ;
            }

            .second-container{
                display: flex;
                flex-direction: column;
                width: 345px;
            }


            .blog{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-left: 24px;
            }

            .blog-icons{
                display: flex;
            }
    
            .space-between{
                margin-left: 30px;
            }
    
            .fa-clock{
                margin-right: 10px;
            }
    
            .fa-comment{
                margin-right: 10px;
            }
    
            
            .footer{
                width: 100%;
            }
    
            .footer-nav-wrapper hr{
                color: rgba(255, 255, 255, 0.199);
                margin-top: 60px;
                width: 335px;
            }

            .footer-nav-wrapper ul,li{               
                display: flex;
                flex-direction: column;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                padding:10px 24px;
            }
        }

  /* ------------End Mobile Responsive -------------------- */          

/*--------------- start tab responsive -------------------*/

@media screen and (min-width:577px) and (max-width: 991.98px) 

 {
     

        .hero-section{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0%;
            
        }

        .text-wrapper{
            color: aliceblue;
            align-items: center;
            justify-content: center;
            padding: 20px 25px;
        }
        .watch-live:hover{
            background-color: white;
            color: black;
            transition: ease-in;
        
        }

        .text-wrapper h1{
            font-family: 'Poppins';
            text-align: left;
            font-size: 25px;
            font-weight: bold;
            line-height: 32px;
            margin: 0%;
        }
        .text-wrapper p{
            font-family: 'Montserrat';
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        .text-wrapper button{
            align-items: center;
            color: white;
            background-color: #DD0000;
            font-size: 20px;
            line-height: 25px;
            font-weight: 400;
            padding: 16px 25px;
            margin-top: 10px;
            margin-left: 0px;
        }

         
        .image-wrapper img{
            width: 337px;
            height: 361px;
            margin-top: 23px;
            margin-left: 22px;
            margin-right: 0%;
            align-items: left;

        }
        .active{
            padding: 15px;
        }
        .inactive a{
            padding: 0%;
        }
        .nav-item{
            display: flex;
            flex-direction: row;                  
        }

        .nav-item button{
            margin-top: 30px;
            width: 200px;
        }
        .nav-item a{
            font-size: 14px;
        }

        .nav-item div{
            margin-right: 10px;
        }
        

        .side-nav{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            background-color: beige;
            
            
            border-radius: 10px;
            height: 60px;
            width: 670px;
        }
        
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: black;
            width: 639px;
            height: 344px;
            padding-top: 20px;
            padding-bottom: 20px;       
            border-radius: 12px;
            margin-bottom: 20px ;
            
        }

        .second-container{
            display: flex;
            flex-direction: column;
            width: 734px;
        }


        .blog{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 45px;
        }

        .blog-icons{
            display: flex;
        }

        .space-between{
            margin-left: 30px;
        }

        .fa-clock{
            margin-right: 10px;
        }

        .fa-comment{
            margin-right: 10px;
        }

        
        .footer{
            width: 100%;
        }

        .footer-nav-wrapper hr{
            color: rgba(255, 255, 255, 0.199);
            margin-top: 60px;
            width: 335px;
        }

        .footer-nav-wrapper ul,li{               
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            padding:10px 24px;
        }
    }








/*--------------- end tab responsive -------------------*/


   














/*-------------- Responsive device section End -------------------*/